﻿@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TransportLy.MVC</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TransportLy</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        @{
                            byte[] userRole;
                            byte[] userName;
                            byte[] bytecustomerId;
                            int customerId = 0;
                            HttpContextAccessor.HttpContext.Session.TryGetValue("Role", out userRole);
                            HttpContextAccessor.HttpContext.Session.TryGetValue("UserName", out userName);
                            HttpContextAccessor.HttpContext.Session.TryGetValue("CustomerId", out bytecustomerId);
                            if (bytecustomerId != null)
                            {
                                int.TryParse(System.Text.Encoding.UTF8.GetString(bytecustomerId), out customerId);
                            }
                            if (userName == null)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index">Log In</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="LogOut">Log out</a>
                                </li>

                            }
                            if (userRole != null && System.Text.Encoding.UTF8.GetString(userRole).Equals("1"))
                            {
                                <li class="nav-item">

                                    <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="Index" asp-route-id="@customerId">New Order</a>

                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="list">your Orders</a>
                                </li>
                            }
                            if (userRole != null && System.Text.Encoding.UTF8.GetString(userRole).Equals("2"))
                            {
                                <li class="nav-item">

                                    <a class="nav-link text-dark" asp-area="" asp-controller="ShippingManager" asp-action="flights">Flights</a>
                                </li>

                            }
                            if (userRole != null && System.Text.Encoding.UTF8.GetString(userRole).Equals("3"))
                            {
                                <li class="nav-item">

                                    <a class="nav-link text-dark" asp-area="" asp-controller="InventoryManager" asp-action="flights">Flights</a>


                                </li>
                                <li class="nav-item">

                                    <a class="nav-link text-dark" asp-area="" asp-controller="InventoryManager" asp-action="flight">Add Flights</a>


                                </li>

                            }
                            if (userName != null)
                            {
                                <li class="nav-item">

                                    <span class="navbar-text text-info">[@System.Text.Encoding.UTF8.GetString(userName)]</span>

                                </li>

                            }

                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - TransportLy.MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
