﻿@model TransportLy.Application.DTOs.FlightOrdersDTO
@{
    ViewData["Title"] = "FlightOrders";
}
<h3>Flight Orders details</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                Flight date
            </th>
            <th>
                Airport name
            </th>
            <th>
                Aiplane name
            </th>
            <th>
                Count
            </th>
            <th>
                Sum
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Model.FlightDate.Date
            </td>
            <td>
                @Model.AirPort.Name
            </td>
            <td>
                @Model.AirPlain.Name
            </td>
            <td>
                @Model.OrdersCount
            </td>
            <td>
                @Model.OrdersSum
            </td>
        </tr>
    </tbody>
</table>
<hr />
<h3>Assigned Orders</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                Order date
            </th>
            <th>
                Quantity
            </th>
            <th>
                Code
            </th>
            <th>
                Type
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AssignedOrders)
        {
            <tr>
                <td>
                    @item.OrderDate.Date
                </td>
                <td>
                    @item.Quantity
                </td>
                <td>
                    @item.OrderCode
                </td>
                <td>
                    @item.ShippingType
                </td>
            </tr>
        }
    </tbody>
</table>

