﻿@model IEnumerable<TransportLy.Application.DTOs.FlightItinerariDTO>
@{
    ViewData["Title"] = "flights";
}
<h1>Flights</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Flight date
            </th>
            <th>
                Airport name
            </th>
            <th>
                Aiplane name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FlightDate.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AirPort.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AirPlain.Name)
                </td>

                <td>
                    <a asp-action="FlightOrders" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

