﻿@model TransportLy.Application.DTOs.OrderDTO
@{
    ViewData["Title"] = "New Order";
}
@using (Html.BeginForm("SubmitOrder", "Order", FormMethod.Post))
{
<fieldset>
    <legend>New Order</legend>

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @if (@ViewBag.Message != null)
    {
        <div style="border: 1px solid red">
            @ViewBag.Message
        </div>
    }
    @Html.HiddenFor(a => a.CustomerId)
<table>
    <tr>
        <td>@Html.LabelFor(a => a.Quantity)</td>
        <td>@Html.TextBoxFor(a => a.Quantity, new { @type = "number" })</td>
        <td>@Html.ValidationMessageFor(a => a.Quantity)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(a => a.ShippingType)</td>
        <td>@Html.DropDownListFor(a => a.ShippingType, Enum.GetNames(typeof(TransportLy.Domain.Enumes.ShippingTypeEnum)).Select(e => new SelectListItem { Text = e }))</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(a => a.OrderDate)</td>
        <td>@Html.TextBoxFor(a => a.OrderDate, new { @class = "datefield", type = "date" })</td>
        <td>@Html.ValidationMessageFor(a => a.OrderDate)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(a => a.AirportId)</td>
        <td>@Html.DropDownListFor(a => a.AirportId,new SelectList(ViewBag.Airports, "Id", "Name"))</td>
        
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="submit" value="Submit Order" />
        </td>
        <td></td>
    </tr>
</table>
</fieldset>
}

<script>
  $(document).ready(function() {
      $("#Order Date").datepicker();
  });
</script>


