﻿@model TransportLy.Application.DTOs.FlightItinerariDTO
@{
    ViewData["Title"] = "flight";
}


@using (Html.BeginForm("flight", "InventoryManager", FormMethod.Post))
{
    <fieldset>
        <legend>New flight</legend>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }
    <table>
        <tr>
            <td>@Html.LabelFor(a => a.FlightDate)</td>
            <td>@Html.TextBoxFor(a => a.FlightDate, new { @class = "datefield", type = "date" })</td>
            <td>@Html.ValidationMessageFor(a => a.FlightDate)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.AirPortId)</td>
            <td>@Html.DropDownListFor(a => a.AirPortId, new SelectList(ViewBag.Airports, "Id", "Name"))</td>

        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.AirPlainId)</td>
            <td>@Html.DropDownListFor(a => a.AirPlainId, new SelectList(ViewBag.Airplains, "Id", "Name"))</td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Submit fligh" />
            </td>
            <td></td>
        </tr>
    </table>
        
    </fieldset>
}

